.wrapper{
    position: relative;
    width: 100%;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
    transition: all ease 1s;
    top: 0;
}
.wrapper img{
    width: 100%;
    aspect-ratio: 2/1;
    overflow: hidden;
    z-index: 10;
}
.desc{
    padding: 15px;
    text-align: left;
}
.technologies{
    width: 100%;
    padding: 15px;
}
.technologies h3{
    background-color: #9d9d9d;
    padding: 5px;
    line-height: 1.1;
}
.skills{
    width: 100%;
    overflow: hidden;
    padding: 10px;
    display: flex;
    gap: 10px;
}
.skills span{
    display: inline-block;
    border-radius: 10px;
    padding: 2px 10px;
    cursor: pointer;
    color: #5e6d55;
    background-color: #E4EBE4;
}
.hover{
    position: absolute;
    display: none;
    padding: 20px;
    transition: all ease 1s;
}
.wrapper:hover>.hover{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    aspect-ratio: 1/0.7;
    border-radius: 10px;

    background-color: rgba(0,0,0, 0.8);
    color: white;

}
.wrapper:hover{
    z-index: 20;
    scale: 1.01;
    top: -5px;
}
.btns{
    display: flex;
    gap: 20px;
    margin: 10px 0;
}
.tools{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.tools span{
    border: 1px solid green;
    border-radius: 10px;
    padding: 2px 5px;
}
.starsRow{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.starsRow span{
    display: flex;
    align-items: center;
}
.btns a{
    color: inherit;
}
@media (max-width: 910px) {
    .starsRow{
        height: 60px;
        flex-direction: column;
    }
}