.paginationHide{
    display: none;
}
.grid{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
@media (max-width: 800px) {
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}