.title {
    margin-bottom: 1vw;
    text-align: center;
    font-size: clamp(20px,calc(20px + (50 - 20) * ((100vw - 320px) / (1320 - 320))),50px);
}

.content {
    display: flex;
    align-items: center;
    gap: clamp(10px,calc(10px + (30 - 10) * ((100vw - 320px) / (1320 - 320))),30px);
    padding: 1vw;
}
.imgContainer {
    flex: 1;
    position: relative;
}
.image {
    width: 100%;
    object-fit: contain;
    animation: move 3s infinite ease alternate;
}
.form {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.inputRow{
    width: 100%;
}
.inputRow p{
    color: red;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 5px;
}
.inputRow input,
.inputRow textarea{
    width: 100%;
}
.input,
.textArea {
    padding: 5px 10px;
    background-color: transparent;
    outline: none;
    border: 3px solid #bbb;
    font-size: 20px;
    font-weight: bold;
}
button{
    padding: 1vw;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.map{
    padding: 3vw 1vw;
    max-width: 100%;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
}
.map iframe{
    width: 100%;
}

@keyframes move {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(0px) scale(1.03);
    }
}

@media (max-width: 800px) {
    .content{
        flex-direction: column;
    }
    .image {
        width: 50%;
    }
}