.footer{
    font-family: "Poppins", Arial, sans-serif;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    background: #141313;
    padding: 5vw 0;
}
.footerContent{
    padding: 5vw 2vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5vw;
}
strong{
    padding: 3px;
}
.about p{
    margin-bottom: 1vw;
}
.footerContent h2{
    color: #fff;
    margin-bottom: 5vw;
    font-size: 18px;
    font-weight: 400;
}
.footerContent div{
    text-align: left;
}
.addressPhone li{
    display: flex;
    margin-bottom: 3vw;
}
.addressPhone li strong{
    margin-right: 2vw;
}
.addressPhone li a{
    color: inherit;
}
.links a{
    color: inherit;
}
.copyright{
    border-top: 1px solid gray;
    padding-top: 3vw;
}
.toTop{
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: #ff084e;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toTopHide{
    display: none;
}
.footerContent ul{
    padding-left: 0;
}
@media (max-width: 800px) {
    .footerContent{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 450px) {
    .footerContent{
        grid-template-columns: 1fr;
        gap: 2vw;
    }
    .footerContent>*{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerContent h2{
        margin-bottom: 2vw;
    }
}