.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none!important;
}
li{
  list-style: none;
}
.containerMain{
  margin: 0 auto;
  max-width: 1200px;
}
.containerSecond{
  margin: 0 auto;
  max-width: 1000px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators button,
.carousel-caption{
  filter: invert(100%);
}

.spinnerWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

div.slider-control-bottomcenter{
  position: relative;
  bottom: -4vw;
}













