.wrapper{
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
    margin-left: 4px;
    margin-right: 4px;
    color: #a5a5ab;
    font-weight: 700;
    background: white;
    cursor: pointer;
}
.wrapperActive{
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
    margin-left: 4px;
    margin-right: 4px;
    color: #a5a5ab;
    font-weight: 700;
    background: #ffb400;
    cursor: pointer;
}
.span{
    padding: 5px 15px;
    color: #a5a5ab;
    font-weight: 700;
}
.wrapperActive .span{
    padding: 5px 15px;
    color: #404044;
    font-weight: 700;
}